<div class="container">
  <div class="row">
    <div class="col text-center">
      <div>
        <h1 class="font-weight-bold gf-text-wrap-balance intro" i18n>
          RESEARCH PORTFOLIO
        </h1>
      </div>
      <p class="gf-text-wrap-balance lead mb-4" i18n>
        Private Intelligence & Wealth Mapping Dashboard.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="button-container mb-5 row">
    <div class="align-items-center col d-flex justify-content-center">
      @if (hasPermissionToCreateUser) {
      <a color="primary" i18n mat-flat-button [routerLink]="routerLinkRegister">Get Started</a>
      }
      @if (hasPermissionForDemo) {
      @if (hasPermissionToCreateUser) {
      <div class="mx-3 text-muted" i18n>or</div>
      }
      <a i18n mat-stroked-button [routerLink]="routerLinkDemo">Live Demo</a>
      }
    </div>
  </div>