<div class="container">
  <div class="mb-2 row text-center">
    <div class="col">
      © {{ currentYear }} Ghost Research
    </div>
  </div>
  <div class="row text-center text-muted">
    <div class="col">
      <small class="d-block" i18n>The risk of loss in trading can be substantial. It is not advisable to
        invest money you may need in the short term.</small>
    </div>
  </div>
</div>
<div class="container d-none d-md-block mt-5">
  <div class="row justify-content-center">
    <div class="font-weight-bold line-height-1 logotype">GHOST PORTFOLIO</div>
  </div>
</div>